* {
  font-family: "Courier New", Courier, monospace;
}
.container1, .container2, .container3,.recipe, a:hover {
  background-color: #e5e7eb;
  border: 1px solid #0f766e;
  border-radius: 10px;
}
.container2 {
  background-color: #f3f4f6;
  width: 16em;
  text-align: center;
  margin: 0 auto;
}
.container3 {
  background-color: #e5e7eb;
  margin: 20px auto;
  box-sizing: border-box;
  width: 93%;
}
.recipe {
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
  margin: 1%;
  box-sizing: border-box;
}
img {
  margin: 0;
  padding: 0;
  width: 100%;
}
a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #0f766e;
}
a:hover {
  background-color: #6b7280;
  color: white;
  text-decoration: underline;
}
