body{
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  background-color: bisque;
  text-align: center;
  font-size: 50px;
  width: 80%;
  margin: auto;
}
div {
  width: 80%;
  margin: auto;
}
li {
  list-style: none;
  font-size: x-large;
  display: inline-block;
  line-height: 22px;
}
img {
  width: 400px;
  height: auto;
}
li figcaption {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: brown;
}
a:hover {
  text-decoration: underline;
}
img {
    display: block;
    margin: 0 auto;
  }